* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
button { border: 0px;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.pn-msg--own {
	--msg__avatar__margin: 2px 0 0 25px;
	--msg__content__alignItems: flex-end;
	--msg__flexDirection: row-reverse;
	--msg__title__flexDirection: row-reverse;
	--msg-input__background: var(--chat--dark__background--1);
	--msg-input__icon__color: var(--chat--dark__color--2);
	--msg-input__send__color: var(--chat--dark__color--2);
	--msg-input__send--active__color: var(--chat--dark__hover--1);
}

  .pn-msg-list {

  }

  .pn-mg-input {

  }
  